@charset "utf-8";
/* reset */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table,
caption, th, td, form, fieldset, legend, input, button, textarea, menu {
    margin: 0;
    padding: 0;
}

header, footer, section, article, aside, nav, address, figure, figcaption, menu, details {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th {
    text-align: left;
    font-weight: normal;
}

html, body, fieldset, img, iframe, abbr {
    border: 0;
}

i, cite, em, var, address, dfn {
    font-style: normal;
}

[hidefocus], summary {
    outline: 0;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, small {
    font-size: 100%;
}

sup, sub {
    font-size: 83%;
}

pre, code, kbd, samp {
    font-family: inherit;
}

q:before, q:after {
    content: none;
}

textarea {
    overflow: auto;
    resize: none;
}

label, summary {
    cursor: default;
}

a, button {
    cursor: pointer;
    outline: none;
}

h1, h2, h3, h4, h5, h6, em, strong, b {
    font-weight: 500;
}

del, ins, u, s, a, a:hover {
    text-decoration: none;
}

body {
    font: 62.5% arial, Microsoft YaHei, \5b8b\4f53;
    color: #000;
    outline: 0;
}

body {
    background: #ffffff;
    min-width: 1200px;
    position: relative;
    height: auto;
    line-height: 1.5;
    font-size: 14px;
}

img {
    border: none;
    vertical-align: middle;
    max-width: 100%;
    text-align: center;
    background: none;
}

/*清除浮动*/
.clear:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    font-size: 0;
}

.clear {
    *zoom: 1;
}

.ztree li span.button {
    line-height: 0;
    margin: 0;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    border: 0 none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url("../img/zTreeStandard.png");
    *background-image: url("../img/zTreeStandard.gif")
}

.ztree li ul.line {
    background: url(../img/line_conn.gif) 0 0 repeat-y;
}